h4 About me
img(src="/images/avatar.jpg", title="Daniel Lin")
p 
p Daniel Lin, 網路暱稱 pct
p 專注在什麼都學，所以什麼都不專精
p 如果真要立個目標，那就是：
  b 「為天地立心 為生民立命 為往聖繼絕學 為萬世開太平」
p 人生苦短，還想學的有：
  b 中醫、武術
  以及如何賺錢；趕快教我吧，拜託！
p 
