li.active
  a(href='/') Home
li
  a(href='mailto:linpct@gmail.com') Mail
li
  a(href='https://github.com/pct', target="_blank") Github
li
  a(href='http://plurk.com/pct', target="_blank") Plurk
li
  a(href='https://twitter.com/daniel_freebsd', target="_blank") Twitter
li
  a(href='https://facebook.com/freebsd.py', target="_blank") Facebook
li
  a(href='https://github.com/pct', target="_blank") 
