h4 Social Links
ul.no-svg
  li
    a.fc-webicon.twitter(href="https://twitter.com/daniel_freebsd", target="_blank")

  li
    a.fc-webicon.aboutme(href="http://about.me/linpct", target="_blank")

  li
    a.fc-webicon.facebook(href="https://facebook.com/freebsd.py", target="_blank")

  li
    a.fc-webicon.github(href="https://github.com/pct", target="_blank")

  li
    a.fc-webicon.rss(href='/rss.xml')

p.clear
