h2 Work
p 
  b A Web/App Developer
ul
  li php (slim, FuelPHP, myself)
  li python (django, pylons)
  li ruby (rails, sinatra)
  li javascript, coffeescript
  li iOS/Android App with Titanium Alloy



p work for 
  b
    a(href="http://4point-inc.com", target="_blank") 四點設計

p
