h1 {
  line-height: 1em;
}

article .footerwrap {
  background-color: #efefef;
  padding: 10px;
}

.footer_right {
  background-color: #efefef;
  padding: 10px;
  text-align: center;
}

.row-fluid h1 {
  color: #007FFF;
}

.main-container {
  margin-top: 50px;
}

/* FIX facebook comments */
.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {
  width: 100% !important;
}

pre.prettyprint {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 10px;
}
