@import url('//fonts.googleapis.com/css?family=Quando:400italic,700italic,400,700');

h1 {
  line-height: 1em;
}

article .footerwrap {
  background-color: #efefef;
  padding: 10px;
}

.footer_right {
  background-color: #efefef;
  padding: 10px;
  text-align: center;
}

.row h1 {
  color: #007FFF;
}

h2.site_subtitle {
  font-family: "Quando", "Open Sans", Calibri, Candara, Arial, sans-serif;
}

/* FIX facebook comments */
.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {
  width: 100% !important;
}

pre.prettyprint {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 10px;
}

body {
  font-family: Ubuntu, "STHeiti", "Heiti TC", "Microsoft JhengHei", SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 70px 15px 15px 15px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}