!!!
html(lang="zh-TW")
  head
    include includes/head
  body
    #fb-root
    script
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') #{site.name}
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            include includes/nav
   
    .container.main-container
      .row
        .col.col-sm-8
          h2.site_subtitle #{site.description}
          hr
          
          .row
            section
              block content
          //
             End Main 

        .col.col-sm-3
          .well.sidebar-nav
            .about
              include includes/about
              include includes/work
            .articles
              block article
            .archive
              block archive
          .plurk
            include includes/plurk
        
      .footer_right.row
        p Powered by 
          a(href="https://github.com/pct/4press", target="_blank") 4press
          | , Themed by 
          a(href="http://bootswatch.com/cosmo/", target="_blank") Bootswatch Cosmo

    include includes/script
    include includes/ga
    block script
