!!!
html
  head
    include includes/head
    block stylesheet
  body
    .container
      header
        .logo
          h1
            a(href='/') #{site.name}
          
          h2 #{site.description}

        //
           End logo 
      //
         End Header 

      .main
        section
          block content
        section
          block article
        section
          block archive
            
        .footer_right
          p Powered by 
            a(href="https://github.com/pct/4press", target="_blank") 4press
      //
         End Main 

      aside
        .social
          include includes/social
        .about
          include includes/about
          include includes/work
      //
         End Aside
        
    //
      End Container

    include includes/script
    include includes/ga
    block script










