extends layout

append content
  article
    .inner.text_post.markdown
      | !{entry.content}
    .footerwrap
      footer
        .date #{entry.time}

  article
    .inner.text_post.markdown
      script
        var idcomments_acct = '65fe65a01b64947811375a69814dd3d4';
        var idcomments_post_id;
        var idcomments_post_url;
      span#IDCommentsPostTitle(style='display: none;')
      script(type='text/javascript', src='http://www.intensedebate.com/js/genericCommentWrapperV2.js')
 


append script
  script(src="/public/google-code-prettify/prettify.js")
  script
    (function() {
      var pres = document.getElementsByTagName('pre');
      for (var i=0,l=pres.length; i<l; i++) {
        pres[i].className = 'prettyprint';
      }
      prettyPrint();
    })();
